<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<!-- This is the configuration for the robot code (printing to STDOUT and sending across the network) -->
	<Appenders>
		<Console name="Console">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] [%t/%level] %msg%n" />
		</Console>
		<Socket name="Remote" host="0.0.0.0" port="514" protocol="UDP">
			<PatternLayout>
				<pattern>${hostName} java %d{yyyy-MM-dd HH:mm:ss,SSS}{GMT} %p %t %c %M - %m%n</pattern>
			</PatternLayout>
		</Socket>
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="Console" level="info" />
			<AppenderRef ref="Remote" level="all" />
		</Root>
		<!--
			How to debug a certain class (or package):
			
			<Logger name="FULLY QUALIFIED CLASS OR PACKAGE HERE" level="all" additivity="false">
				<AppenderRef ref="Console" level="info" />
			</Logger>
			
			This will only change what is shown on STDOUT, not on the remote log
			Please do not commit these changes EVER!
		-->
	</Loggers>
</Configuration>
